brotli==1.0.9
chardet==4.0.0
cryptography==36.0.1
Cython==0.29.26
dl==0.1.0
ipaddr==2.2.0
matplotlib==3.5.1
mock==4.0.3
numpy==1.22.0
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
scipy==1.7.3
simplejson==3.17.6
unicodedata2==14.0.0
wincertstore==0.2.1
